body{
    background-color: #12437a;
}

.fuente{
    color: #F5934D;
}
.fuente2{
    color: #F5934D;
}

.txt{
    border-radius: 20px
}

table{
    font-family: 'Lexend', sans-serif;
    font-family: 'Mali', cursive;
}
img{
    width: 150px;
    height: 150px;
}

.div1{
    flex: content;
    justify-content: center;
}